		<div class="modal-content">

          <h4>Rides</h4>
          {{#each this.rides}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Restaurants</h4>
          {{#each this.restaurants}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Show</h4>
          {{#each this.shows}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}} - {{times}}</p>
          {{/each}}

          <h4>Vendor</h4>
          {{#each this.vendor}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Character Meet</h4>
          {{#each this.characters}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Animals</h4>
          {{#each this.animals}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Games</h4>
          {{#each this.games}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>
          {{/each}}

          <h4>Special Events</h4>
          {{#each this.events}}
          <h5 class="name">{{name}}</h5>
          <p class="hidden">{{description}}-{{times}}</p>

          {{/each}}

    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    	</div>