{{#each this}}

	<div class="card col l4 m6 s12">


		<div class="card-image waves-effect waves-block waves-light">
			<img class="activator responsive-img" src="images/img{{@index}}.jpg">
		</div>
		<div class="card-content">
			<span id="card{{@index}}" class="card-title grey-text text-darken-4 card-wrapper" >{{name}}</span>

		</div>

		<div class="card-reveal" style="background-color:#{{colorTheme}};">
			<span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
			<p>{{description}}</p>
		</div>


	</div>

{{/each}}